@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PGs Rocketshop!</h1>
    <h2>We have since 1969 the best collection of buyable commersial rockets.
    Its our pride to make these products available to your leisure. With the best prices globaly, 
    its our goal to make your future spacefaring ambitions possible!
    </h2>
    
</div>
